<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteDePruebas" verbose="1">
    
    <!-- Definición del conjunto de pruebas -->
    <test name="Pruebas de OfertaActividades">
        
        <!-- Listado de clases de prueba -->
        <classes>
            <class name="src.test.java.TestNG.TestActividadNG">
            </class>
            <class name="src.test.java.TestNG.TestSociosNG">
            </class>
        </classes>
        
    </test>
    
</suite>
